<%- include("partials/header", { pageTitle: article.title }) %> <% const dateObj
= new Date(article.publishingDate); const formattedDate =
dateObj.toLocaleDateString("en-US", { year: "numeric", month: "long", day:
"numeric" }); %>

<h1><%= article.title %></h1>
<p><em>Published on: <%= formattedDate %></em></p>
<article>
  <p><%= article.content %></p>
</article>
<p><a href="/">Back to Home</a></p>

<%- include("partials/footer") %>
